<div class="container " style="font-size: 18px;">
  <p>Xin chào mọi người! Mình tên là Huy Tùng.</p>
  <p>Đây là trang web đầu tiên mình làm hoàn thiện khi bắt đầu sự nghiệp lập trình. Là nơi mình sẽ chia sẻ kiến thức về lập trình mà mình tích góp được và có thể mình sẽ kể về hành trình tìm lại chính mình và phát triển bản thân</p>
  <p>Mình làm nội dung dưới dạng bài viết, video và hình ảnh. Đây là ngôi nhà tinh thần của mình.</p>
  <p>Rất vui nếu nội dung của mình hữu ích với các bạn!</p>
  <p>Cảm ơn các bạn đã ghé thăm!</p>
  <p>Yêu thương,</p>
  <p>Huy Tùng.</p>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <h4 >Địa chỉ liên hệ:</h4>
      <ul class="contact-info">
        <li>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hà Nội - Việt Nam</p>
        </li>
        <li>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: huytung110699@gmail.com</p>
        </li>
        <li>
          <p><i class="fa fa-phone" aria-hidden="true"></i> Phone:</p>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h4 >Mạng xã hội:</h4>
      <div class="social-contact">
        <a href="https://github.com/NHuy-Tung"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/huytungSW/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/h_tung16/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
